#Start off by ignoring everything...
*
 
#...except track Vagrantfiles inside each folder.
!*/Vagrantfile

#Track only this repo's .gitignore so others who pull down the repo won't have to create it manually.
!./.gitignore

#Track only this repo's README.md
!./README.md
